*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main{
    font: 600 italic calc((4vh + 4vw) - 3.5vmax) "system-ui";
    width: 33vw;
    height: 25vh;
    min-width: 150px;
    background-color: rgb(224, 224, 224);
    margin: 30vh auto;
    border-radius: 5vw;
    padding: 10px;
    display:grid;
    text-align: center;
    align-items: center;
    box-shadow: 0px 0px 20px rgba(121, 121, 121, 0.712), 0px 0px 10px rgb(158, 157, 157)inset;
    transition: all 0.5s ease-out;
}
#main:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: rgba(132, 206, 235, 0.589);
}
